.gallery {
    padding: calc(var(--section-padding) / 6) var(--section-padding);
    background-color: var(--cwo-black);
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
}