.sponzori{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(var(--section-padding) / 6) calc(var(--section-padding)*0.6);
    gap: 24px;
    color: rgb(0, 0, 0);
    background-color: var(--cwo-black);
    background-color: white;
    box-shadow: inset 0px 8px 16px -6px #000, inset 0px -8px 16px -6px #000;
    
  }